/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .container {
   //  background-color: #edf5f4;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    height: 90vh;
    max-height: 90vh;
 }

 .content.home .title {
   background-image: linear-gradient(to right,#73918d , white);
   // background-color: #73918d;
   padding: 10px;
   border-radius: 5px;
   h4 {
      color: white;
   }
   span {
      color: white;
   }
 } 

 .content.home {
   // padding: 10px;
   border-radius: 5px;
   height: 90vh;
   max-height: 90vh;
   position: relative;

   .horizontal-line {
      width: 100%;
      border: 2px solid white;
      margin-top: 20px;
      border-radius: 10px
   }

   .chat-container {
      width: 100%;
      height: 80vh;
      border-radius: 5px;
      background-color: #f5f9fa;
      position: relative;

      .title {
         background-color: #73918d;
         // height: 50px;
      }

      .bottom-section {
         position: absolute;
         bottom: 0;
         width: 100%;

         textarea {
            width: 90%;
            border-radius: 6px;
            margin-left: 5px;
         }

         .sendbutton {
            float: right;
            height: 40px;
         }

         .hide-message {
            display: none;
         }
      }

      .chat-box {
         height: 650px;
         padding: 10px;
         
         .chat-item {
            padding: 10px;
            border: 1px solid #73918d;
            background-color: #73918d;
            color: white;
            border-radius: 15px 50px 30px 0px;
            margin-bottom: 10px;
            margin-top: 20px;
            width: 40%;

            .right {
               float: right !important;
               color: #73918d !important;
               background-color: white !important;
               border-radius: 50px 15px 0px 30px !important;
            }
         }

         .options {
            margin-bottom: 20px;

            .selectItems {
               border: 1px solid grey;
               background-color: grey;
               color: white;
               margin-left: 30px;
               padding: 5px;
               border-radius: 4px;
            }
   
            .selectItems:hover {
               cursor: pointer;
            }
         }  
      }
   }
 }

 .is-support {
   .content.home .title {
      background-image: linear-gradient(to right,#82765c , white);
   }

   .content.home {
      .chat-container {
         background-color: #e6e9e0;
      }
   }
 }
